
.person-form > .person-form-row {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.person-form > .person-actions-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.fx-divider-100 {
    width: 100%;
}

.fx-width-10 {
    width: 10%;
}

.fx-width-19 {
    width: 19%;
}

.fx-width-20 {
    width: 20%;
}

.fx-width-40 {
    width: 40%;
}

.fx-width-60 {
    width: 60%;
}

.fx-width-80 {
    width: 80%;
}

